$white: #feffff;
$blue: #98dafc;
$brown: #daad86;
$dark-brown: #312c32;
$gray: #DAE0E6;
$darker-gray: rgba(0, 0, 0, 0.568);


.main-content{
    position: fixed;
    margin-top: 3.6rem;
    width: 100%;
    height: 100vh;
    background-color: $gray;
    overflow: scroll;
}

.main-navigation{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 1fr;
    height: 3.5rem;
    background-color: $dark-brown;
    padding: 0 1rem;
    display: flex;
    align-items: center;
        .main-navigation__logo{
            h1{
                margin: 0;
                font-size: 1.5rem;
                color: $blue;
            }
        }
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            width: 100%;
                .main-navigatin__items{
                    margin-left: 1.5rem;
                }
                li{
                    margin: 0 1rem;
                }
                a, button{
                    text-decoration: none;
                    color: $white;
                    transition: all 200ms ease-in-out;
                    background-color: $dark-brown;
                    border: none;
                    font: inherit;
                        &:hover, &:active, &.active{
                            color: $blue;
                            
                        }
                }
        }
}


    .form__login{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        border: 1px $dark-brown solid;
        border-radius: 13px;
        background-color: $dark-brown;
        max-width: 450px;
            .auth-form{
                margin: 5rem ;
                border-radius: 5px;
                .form-control, label, input{
                    width: 100%;
                    display: block;
                    margin-bottom: 0.5rem;
                    color: $blue;
                }
                .email-input, .password-input{
                    background-color: $dark-brown;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid $white;
                }
                button{
                    background-color: $dark-brown;
                    font-weight: 600;
                    color: $blue;
                    outline: none;
                    margin-right: 10%;
                    margin-top: 0.5rem;
                    height: 30px;
                    border: none;
                    cursor: pointer;
                    transition: all 200ms ease-in-out;
                        &:hover{
                            color: $white;
                        }
                    }
            }
    }

    .book-container{
        display: grid;
        grid-template-columns: 23% auto 23%;
        background-color: $gray;
        padding: 10px;
        a{
            text-decoration: none;
            color: $dark-brown;
        }
        .form-control{
            width: 100%;
            display: block;
            margin-bottom: 0.5rem;
            color: $dark-brown;
            input{
                background-color: $white;
                border: 0;
                border-bottom: 1px black solid;
                width: 100%;
            }
        }
        
        .modal{
            width: 90%;
            background-color: $white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            position: fixed;
            top: 20vh;
            left: 5%;
            textarea{
                width: 99%;
                outline: none;
                height: 100px;
                resize: none;
            }
            .modal__header{
                padding: 1rem;
                background: $dark-brown;
                border-bottom: 1px $brown solid;
                color: $brown;
                h1{
                    margin: 0;
                    font-size: 1.25rem;
                }
            }
            .modal__content{
                padding: 1rem;
            }
            .modal__actions{
                display: flex;
                justify-content: flex-end;
                padding: 1rem;
                button{
                    margin: 0.5rem;
                    color: $white;
                    background-color: $dark-brown;
                    outline: none;
                    border: none;
                    width: 60px;
                    height: 20px;
                    text-align: center;
                    border-radius: 3px;
                    transition: all 200ms ease-in-out;
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
        // @media(min-width: 800px){
        //     .modal{
        //         width: 50rem;
        //         left: calc((100% - 50rem) / 2);
        //     }
        // }
        .new-book-butn-container{
            height: 200px;
            background-color: $white;
            display: flex;
            flex-flow: column;
            border-radius: 3px;
            margin-top: 17px;
            justify-content: center;
            padding: 8px;
            text-align: center;
            
            .add-new-book-butn{
                background-color: $dark-brown;
                outline: none;
                max-width: 180px;
                border-radius: 5px;
                margin: auto;
                margin-top: 0;
                margin-bottom: 0;
                border: none;
                height: 40px;
                cursor: pointer;
                color: $white;
                transition: all 200ms ease-in-out;
                &:hover{
                    color: $blue;
                }
            }
        }
        
        .books__list{
            margin: 0.5rem;
            list-style: none;
            padding: 0;
            grid-column: 2;
            .book-item__list{
                // margin: 0.5rem 0;
                margin: 0.5rem;
                padding: 1rem;
                border: 0;
                overflow: hidden;
                max-height: 150px;
                box-shadow: inset 0px -100px 20px -104px  $dark-brown;
                background-color: $white;
                border-radius: 3px;
                transition: all 200ms ease-in-out;
                &:hover{
                    box-shadow: inset 0px -100px 20px -104px  $white;
                }
                h1{
                    font-size: 20px;
                    margin-top: 0px;
                }
            }
        }
    }

    @media (max-width: 800px) {
        .book-container{
            display: flex;
            flex-flow: column;
            padding: 0;
            .new-book-butn-container{
                grid-column: 2;
                margin: 0;
                padding: 0;
                width: 340px;
                height: 100px;
                margin-top: 10px;
                margin-left: 2.5%;
            }
        }
    }

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.66);
    }

    .book-item__scroll{
        height: 100%;
    .single-book-container{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        height: 100%;
        .header{
            background-color: $white;
            color: $white;
            grid-column: 2 ;
            display: flex;
            flex-flow: column;
            .question{
                color: black;
                width: 1fr;
                height: auto;
                top: 0;
                margin: 0.5rem;
                p{
                    margin: 0;
                }
            }
            .title{
                font-size: 30px;
                background-color: $dark-brown;
                height: 15%;
                padding: 0.8rem;
            }
            .author{
                sub{
                    padding: 0.5rem;
                    padding-top: 0;
                }
                width: 100%;
                height: 10%;
                background-color: $dark-brown;
            }
        }

        .coments-container{
            margin-top: 1rem;
            margin-bottom: 57px;
            grid-column: 2 ;
            .coment{
                width: 1fr;
                background-color: $white;
                padding: 0.5rem;
                margin: 8px;
                border-left: 3px solid gray;
                white-space: wrap;
                display: flex;
                flex-flow: column;
                p{
                    margin: 0;
                }
                .coment-button{
                    border: none;
                    background-color: inherit;
                    float: right;
                    color: $darker-gray;
                    width: 30px;
                    margin-top: 10px;
                    &:hover{
                        color: rgba(0, 0, 0, 0.89);
                    }
                }
            }
            .create-new-coment{
                margin-bottom: 5rem;
                height: 150px;
                textarea{
                    width: 99.5%;
                    height: 100%;
                    resize: none;
                    border: 0;
                }
                button{
                    float: right;
                    background-color: $dark-brown;
                    border: none;
                    width: 45px;
                    height: 30px;
                    border-radius: 5px;
                    color: $white;
                    outline: none;
                    transition: all 200ms ease-in-out;
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
        
    }
}


.homePage-wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 100%;
    justify-items: center;
    justify-content: space-between;
    .content-wrapper{
        height: 78px;
        overflow: hidden;
        margin: 5px;
        background-color: $white;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover{
            box-shadow: inset 0px -100px 25px -104px  $dark-brown;
        }
    }
    .your-coments-container{
        width: 100%;
        
        h1{
            margin-left: 5px;
        }
    }
    .your-books-container{
        width: 100%;
        
        margin-right: 5px;
        h1{
            margin-left: 5px;
        }
    }
    a{
        text-align: center;
        margin: 5%;
        text-decoration: none;
        color: $dark-brown;
        p, h1{
            margin: 0;
        }
    }
}